In [1]:
import sys  
sys.path.append("../../")

In [2]:
from LIB.utils import *

In [3]:
Travel_Times_Daily_1=pd.read_csv("../data/Uber_data/Travel_Times_Daily (1).csv")
Travel_Times_Daily_2=pd.read_csv("../data/Uber_data/Travel_Times_Daily (2).csv")
Travel_Times_Daily=pd.concat([Travel_Times_Daily_1,Travel_Times_Daily_2])
data_characterization(Travel_Times_Daily)

shape of data : (152, 23)

,Columns name,Type,Count unique values,Count Nan values,Ratio Nan values,Unique values,Max,Min,Mean
0,Date,object,152,0,0.0000,"[12/31/2017, 01/01/2018, 01/02/2018, 01/03/201...",0.0000,0.0000,0.0000
1,Origin Movement ID,int64,1,0,0.0000,[376],376.0000,376.0000,376.0000
2,Origin Display Name,object,1,0,0.0000,"[Kawangware, Nairobi]",0.0000,0.0000,0.0000
3,Destination Movement ID,int64,1,0,0.0000,[192],192.0000,192.0000,192.0000
4,Destination Display Name,object,1,0,0.0000,"[Afya Centre, Nairobi]",0.0000,0.0000,0.0000
5,Daily Mean Travel Time (Seconds),float64,144,1,0.0066,"[1730.0, 1874.0, 1751.0, 2143.0, 2068.0, 1753....",4170.0000,1476.0000,2316.7086
6,Daily Range - Lower Bound Travel Time (Seconds),float64,146,1,0.0066,"[1212.0, 1404.0, 1266.0, 1513.0, 1327.0, 1338....",2536.0000,911.0000,1524.0397
7,Daily Range - Upper Bound Travel Time (Seconds),float64,151,1,0.0066,"[2470.0, 2502.0, 2419.0, 3035.0, 3221.0, 2298....",8385.0000,1919.0000,3558.6093
8,AM Mean Travel Time (Seconds),float64,20,133,0.8750,"[nan, 3502.0, 2955.0, 3026.0, 2702.0, 2749.0, ...",4426.0000,1621.0000,2776.2632
9,AM Range - Lower Bound Travel Time (Seconds),float64,20,133,0.8750,"[nan, 2626.0, 2136.0, 2219.0, 1959.0, 2209.0, ...",3195.0000,1342.0000,2140.6842
10,AM Range - Upper Bound Travel Time (Seconds),float64,20,133,0.8750,"[nan, 4670.0, 4089.0, 4126.0, 3726.0, 3420.0, ...",6133.0000,1957.0000,3623.1053
11,PM Mean Travel Time (Seconds),float64,3,150,0.9868,"[nan, 3631.0, 2181.0]",3631.0000,2181.0000,2906.0000
12,PM Range - Lower Bound Travel Time (Seconds),float64,3,150,0.9868,"[nan, 2444.0, 1883.0]",2444.0000,1883.0000,2163.5000
13,PM Range - Upper Bound Travel Time (Seconds),float64,3,150,0.9868,"[nan, 5395.0, 2525.0]",5395.0000,2525.0000,3960.0000
14,Midday Mean Travel Time (Seconds),float64,51,102,0.6711,"[nan, 2366.0, 2272.0, 2777.0, 2335.0, 1905.0, ...",3739.0000,1706.0000,2504.2800
15,Midday Range - Lower Bound Travel Time (Seconds),float64,50,102,0.6711,"[nan, 1903.0, 1872.0, 2151.0, 2025.0, 1526.0, ...",3015.0000,875.0000,1904.8600
16,Midday Range - Upper Bound Travel Time (Seconds),float64,51,102,0.6711,"[nan, 2940.0, 2756.0, 3584.0, 2692.0, 2379.0, ...",5966.0000,2136.0000,3329.9400
17,Evening Mean Travel Time (Seconds),float64,43,109,0.7171,"[nan, 1615.0, 1950.0, 1357.0, 1486.0, 2799.0, ...",3285.0000,1248.0000,2002.2558
18,Evening Range - Lower Bound Travel Time (Seconds),float64,44,109,0.7171,"[nan, 1146.0, 957.0, 1148.0, 1158.0, 1680.0, 1...",2600.0000,872.0000,1359.9535
19,Evening Range - Upper Bound Travel Time (Seconds),float64,44,109,0.7171,"[nan, 2274.0, 3970.0, 1604.0, 1906.0, 4663.0, ...",6386.0000,1512.0000,3028.4884
20,Early Morning Mean Travel Time (Seconds),float64,49,104,0.6842,"[1793.0, nan, 1564.0, 1477.0, 1768.0, 1445.0, ...",2471.0000,1036.0000,1674.1875
21,Early Morning Range - Lower Bound Travel Time ...,float64,47,104,0.6842,"[1266.0, nan, 1206.0, 1142.0, 1442.0, 1098.0, ...",1671.0000,540.0000,1179.8958
22,Early Morning Range - Upper Bound Travel Time ...,float64,49,104,0.6842,"[2538.0, nan, 2027.0, 1911.0, 2169.0, 1902.0, ...",4354.0000,1543.0000,2409.5625

In [4]:
data_1=pd.read_csv("../data/Uber_data/Travel_Times_day_of_week (1).csv")
data_2=pd.read_csv("../data/Uber_data/Travel_Times_day_of_week.csv")
data_1["period"]=2
data_2["period"]=1
Travel_Times_day_of_week=pd.concat([data_1,data_2])[["Day Of Week","Mean Travel Time (Seconds)","Range - Lower Bound Travel Time (Seconds)",
                                                   "Range - Upper Bound Travel Time (Seconds)","period"]]
Travel_Times_day_of_week.columns=["dow","Mean_Travel_Time_dow","Lower_Bound_Travel_Time_dow",
                                                   "Upper_BoundTravel_Time_dow","period"]

In [5]:
data_1=pd.read_csv("../data/Uber_data/Travel_Times_time_of_day (1).csv")
data_2=pd.read_csv("../data/Uber_data/Travel_Times_time_of_day.csv")
data_1["period"]=2
data_2["period"]=1
Travel_Times_time_of_day=pd.concat([data_1,data_2])[["Time Of Day","Mean Travel Time (Seconds)","Range - Lower Bound Travel Time (Seconds)",
                                                   "Range - Upper Bound Travel Time (Seconds)","period"]]
Travel_Times_time_of_day.columns=['Time_Of_Day', 'Mean_Travel_Time_TOD',
       'Lower_Bound_Travel_Time_TOD',
       'Upper_Bound_Travel_Time_TOD', 'period']
for col in Travel_Times_time_of_day.columns[Travel_Times_time_of_day.isna().any()]:
    Travel_Times_time_of_day[col].fillna(Travel_Times_time_of_day[col].min(),inplace=True)

In [6]:
data_1=pd.read_csv("../data/Uber_data/nairobi-hexclusters-2018-1-All-HourlyAggregate.csv")
data_2=pd.read_csv("../data/Uber_data/nairobi-hexclusters-2018-2-All-HourlyAggregate.csv")
data_1["period"]=1
data_2["period"]=2
HourlyAggregate=pd.concat([data_1,data_2])
HourlyAggregate=HourlyAggregate[(HourlyAggregate.sourceid==376)&(HourlyAggregate.dstid==192)]
HourlyAggregate.drop(["sourceid","dstid"],axis=1,inplace=True)
HourlyAggregate.columns=['hod', 'mean_travel_time_hod', 'standard_deviation_travel_time_hod',
                           'geometric_mean_travel_time_hod',
                           'geometric_standard_deviation_travel_time_hod',"period"]

In [7]:
data_1=pd.read_csv("../data/Uber_data/nairobi-hexclusters-2018-1-All-MonthlyAggregate.csv")
data_2=pd.read_csv("../data/Uber_data/nairobi-hexclusters-2018-2-All-MonthlyAggregate.csv")
# data_3=pd.read_csv("../data/Uber_data/nairobi-hexclusters-2017-4-All-MonthlyAggregate.csv")

MonthlyAggregate=pd.concat([data_1,data_2])
MonthlyAggregate=MonthlyAggregate[(MonthlyAggregate.sourceid==376)&(MonthlyAggregate.dstid==192)]
MonthlyAggregate.drop(["sourceid","dstid"],axis=1,inplace=True)
MonthlyAggregate.columns=['month', 'mean_travel_time_month',
                           'standard_deviation_travel_time_month', 'geometric_mean_travel_time_month',
                               'geometric_standard_deviation_travel_time_month']

In [8]:
data_1=pd.read_csv("../data/Uber_data/nairobi-hexclusters-2018-1-WeeklyAggregate.csv")
data_2=pd.read_csv("../data/Uber_data/nairobi-hexclusters-2018-2-WeeklyAggregate.csv")
data_1["period"]=1
data_2["period"]=2
WeeklyAggregate=pd.concat([data_1,data_2])
WeeklyAggregate=WeeklyAggregate[(WeeklyAggregate.sourceid==376)&(WeeklyAggregate.dstid==192)]
WeeklyAggregate.drop(["sourceid","dstid"],axis=1,inplace=True)
WeeklyAggregate.columns=['dow', 'mean_travel_time_dow', 'standard_deviation_travel_time_dow',
       'geometric_mean_travel_time_dow',
       'geometric_standard_deviation_travel_time_dow', 'period']

In [9]:
dict_={ d:n  for d,n in   zip(Travel_Times_day_of_week.dow.unique().tolist(),range(1,len(Travel_Times_day_of_week.dow.unique())+1))}
Travel_Times_day_of_week.dow=Travel_Times_day_of_week.dow.map(dict_)
WeeklyAggregate=WeeklyAggregate.merge(Travel_Times_day_of_week,on=["dow","period"],how="left")
WeeklyAggregate.dow-=1

In [10]:
# load the procced data 
train_df=pd.read_csv("./final_data/proceed_train.csv")
test=pd.read_csv("./final_data/proceed_test.csv")
test["train"]=0
train_df["train"]=1
data=pd.concat([test,train_df])
data.sort_values(["travel_from","date"],inplace=True,ascending=True)
data.date=pd.to_datetime(data.date)

In [11]:
from datetime import datetime, timedelta
time = {'Migori': 7*60+8 , 'Keroka': 5*60, 'Homa Bay':7*60, 'Kisii':5*60+34, 'Keumbu':5*60+20, 'Rongo':6*60+21,
'Kijauri':60*4+50,'Oyugis':5*60+50, 'Awendo':6*60+38, 'Sirare':7*60+30, 'Nyachenge':6*60+10, 'Kehancha':7*60+10,
'Kendu Bay':6*60+10, 'Sori':7*60+30, 'Rodi':6*60+40, 'Mbita':7*60+23, 'Ndhiwa': 7*60}

for key in time.keys(): 
    time[key]=timedelta( minutes=time[key])
#  + google estimted time     
data["travel_from_time"]=data.travel_from.map(time)
data["arrved_date"]=data.date+ data.travel_from_time
data["hod_arrved_date"]=data["arrved_date"].dt.hour
# + 8h , + 8:30 , +9 H
data["date_after_8h"]=data.date+ timedelta(hours=8)
data["date_after_9h"]=data.date+ timedelta(hours=9)
data["hod_after_8h"]=data["date_after_8h"].dt.hour
data["hod_after_9h"]=data["date_after_9h"].dt.hour
data["hod_arrved_date"]=data["arrved_date"].dt.hour

del data["date_after_8h"],data["date_after_9h"] ,data["arrved_date"]

data["date_after_8_30_h"]=data.date+ timedelta(hours=8,minutes=30)
data["month"]=data["date_after_8_30_h"].dt.month
data["dow"]=data["date_after_8_30_h"].dt.dayofweek
data["hour"]=data["date_after_8_30_h"].dt.hour
del data["date_after_8_30_h"]

In [12]:
data["Time_Of_Day"]=0
data.loc[data.hour.between(7,9) ,"Time_Of_Day"]="AM Peak"
data.loc[data.hour.between(10,15) ,"Time_Of_Day"]="Midday"
data.loc[data.hour.between(16,18) ,"Time_Of_Day"]="PM Peak"
data.loc[data.hour.isin([19,20,21,22,23]) ,"Time_Of_Day"]="Evening"
data.loc[data.hour.between(0,6) ,"Time_Of_Day"]="Evening"
del data["hour"]

In [13]:
data=data[["dow","hod_after_9h","hod_after_8h","hod_arrved_date","train","ride_id","month","Time_Of_Day"]]
data["period"]=1
data.loc[data.month.isin([4,5,6]),"period"]=2
data_characterization(data)

shape of data : (7360, 9)

,Columns name,Type,Count unique values,Count Nan values,Ratio Nan values,Unique values,Max,Min,Mean
0,dow,int64,7,0,0.0000,"[1, 6, 0, 2, 3, 4, 5]",6,0,2.9336
1,hod_after_9h,int64,9,0,0.0000,"[16, 4, 15, 17, 19, 14, 18, 20, 8]",20,4,15.8121
2,hod_after_8h,int64,9,0,0.0000,"[15, 3, 14, 16, 18, 13, 17, 19, 7]",19,3,14.8121
3,hod_arrved_date,int64,15,0,0.0000,"[13, 1, 14, 12, 11, 15, 10, 16, 0, 9, 23, 4, 6...",23,0,12.6209
4,train,int64,2,0,0.0000,"[1, 0]",1,0,0.8490
5,ride_id,int64,7360,0,0.0000,"[6654, 8381, 8380, 8397, 8409, 8455, 8449, 849...",20117,247,9843.3461
6,month,int64,8,0,0.0000,"[12, 1, 2, 3, 4, 5, 11, 10]",12,1,4.8310
7,Time_Of_Day,object,4,0,0.0000,"[Midday, Evening, PM Peak, AM Peak]",0,0,0.0000
8,period,int64,2,0,0.0000,"[1, 2]",2,1,1.2605

In [14]:
data=data.merge(WeeklyAggregate,on=["dow","period"],how="left")
data=data.merge(MonthlyAggregate,on=["month"],how="left")

In [15]:
data=data.merge(HourlyAggregate.add_suffix("_after_8h")\
                .rename(columns={"period_after_8h":"period"}),on=["hod_after_8h","period"],how="left")

data=data.merge(HourlyAggregate.add_suffix("_after_9h")\
                .rename(columns={"period_after_9h":"period"}),on=["hod_after_9h","period"],how="left")

data=data.merge(HourlyAggregate.add_suffix("_arrved_date")\
                .rename(columns={"period_arrved_date":"period"}),on=["hod_arrved_date","period"],how="left")

In [16]:
# data=data.merge(Travel_Times_time_of_day,on=["Time_Of_Day","period"],how="left")

In [17]:
data.drop(["dow","hod_after_9h","hod_after_8h","train",
          "month","period","Time_Of_Day","hod_arrved_date"],axis=1).to_csv("./final_data/uber_data.csv",index=False)

In [18]:
data_characterization(data.drop(["dow","hod_after_9h","hod_after_8h","train","hod_arrved_date",
          "month","period","Time_Of_Day"],axis=1))

shape of data : (7360, 24)

,Columns name,Type,Count unique values,Count Nan values,Ratio Nan values,Unique values,Max,Min,Mean
0,ride_id,int64,7360,0,0.0000,"[6654, 8381, 8380, 8397, 8409, 8455, 8449, 849...",20117.0000,247.0000,9843.3461
1,mean_travel_time_dow,float64,14,0,0.0000,"[2514.4, 1708.77, 2429.91, 2283.99, 2699.75, 2...",2723.8200,1708.7700,2310.5090
2,standard_deviation_travel_time_dow,float64,14,0,0.0000,"[1197.19, 584.05, 1455.07, 1044.65, 1435.87, 1...",1455.0700,584.0500,1124.4519
3,geometric_mean_travel_time_dow,float64,14,0,0.0000,"[2247.5, 1611.37, 2113.5, 2072.77, 2401.17, 20...",2411.4700,1611.3700,2079.0698
4,geometric_standard_deviation_travel_time_dow,float64,13,0,0.0000,"[1.62, 1.42, 1.68, 1.55, 1.61, 1.65, 1.45, 1.4...",1.6800,1.4200,1.5732
5,Mean_Travel_Time_dow,int64,14,0,0.0000,"[2514, 1708, 2429, 2283, 2699, 2319, 1948, 182...",2736.0000,1708.0000,2316.3230
6,Lower_Bound_Travel_Time_dow,int64,14,0,0.0000,"[1554, 1200, 1449, 1469, 1677, 1405, 1348, 127...",1677.0000,1200.0000,1468.1675
7,Upper_BoundTravel_Time_dow,int64,14,0,0.0000,"[4066, 2432, 4074, 3549, 4345, 3826, 2816, 262...",4548.0000,2432.0000,3664.6194
8,mean_travel_time_month,float64,6,1638,0.2226,"[nan, 2085.86, 2113.57, 2420.94, 2133.02, 2511...",2511.1200,2085.8600,2212.9272
9,standard_deviation_travel_time_month,float64,6,1638,0.2226,"[nan, 962.58, 1005.83, 1343.08, 926.56, 1351.08]",1351.0800,926.5600,1079.6356
10,geometric_mean_travel_time_month,float64,6,1638,0.2226,"[nan, 1896.84, 1910.94, 2144.03, 1971.8, 2211.12]",2211.1200,1896.8400,1999.7846
11,geometric_standard_deviation_travel_time_month,float64,6,1638,0.2226,"[nan, 1.54, 1.58, 1.62, 1.48, 1.65]",1.6500,1.4800,1.5604
12,mean_travel_time_hod_after_8h,float64,17,0,0.0000,"[2758.4, 1474.85, 2612.73, 3062.56, 2658.71, 3...",3505.2900,1474.8500,2685.6960
13,standard_deviation_travel_time_hod_after_8h,float64,17,0,0.0000,"[1043.11, 605.95, 1194.78, 1720.18, 1162.26, 1...",1778.3000,605.9500,1128.0117
14,geometric_mean_travel_time_hod_after_8h,float64,17,0,0.0000,"[2578.91, 1378.46, 2421.92, 2734.38, 2431.64, ...",3153.8600,1378.4600,2478.1695
15,geometric_standard_deviation_travel_time_hod_a...,float64,14,0,0.0000,"[1.44, 1.42, 1.45, 1.57, 1.53, 1.71, 1.5, 1.48...",1.7100,1.3400,1.4848
16,mean_travel_time_hod_after_9h,float64,17,0,0.0000,"[3062.56, 1548.34, 2758.4, 2919.19, 3419.97, 3...",3505.2900,1548.3400,2835.8186
17,standard_deviation_travel_time_hod_after_9h,float64,17,0,0.0000,"[1720.18, 524.36, 1043.11, 1365.75, 1778.3, 16...",1778.3000,524.3600,1390.7323
18,geometric_mean_travel_time_hod_after_9h,float64,17,0,0.0000,"[2734.38, 1463.61, 2578.91, 2627.47, 2981.91, ...",3153.8600,1463.6100,2561.7920
19,geometric_standard_deviation_travel_time_hod_a...,float64,13,0,0.0000,"[1.57, 1.4, 1.44, 1.6, 1.71, 1.58, 1.53, 1.47,...",1.7100,1.3900,1.5452
20,mean_travel_time_hod_arrved_date,float64,27,0,0.0000,"[2362.04, 1299.36, 2612.73, 2632.26, 2485.34, ...",3419.9700,1299.3600,2495.5145
21,standard_deviation_travel_time_hod_arrved_date,float64,27,0,0.0000,"[767.65, 615.78, 1194.78, 1210.11, 854.59, 950...",1778.3000,431.4800,1035.8141
22,geometric_mean_travel_time_hod_arrved_date,float64,27,0,0.0000,"[2256.4, 1197.45, 2421.92, 2390.53, 2321.28, 1...",2981.9100,1197.2100,2321.9015
23,geometric_standard_deviation_travel_time_hod_a...,float64,22,0,0.0000,"[1.34, 1.47, 1.45, 1.56, 1.5, 1.51, 1.4, 1.44,...",1.7100,1.3400,1.4457